/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

$custom-typography:
mat-typography-config(
    $font-family:'Exo'
);


/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/


body{
background-color: #f4f3f3;
margin:0;
pm-root *{
     font-family:'Exo', sans-serif;
   }

}
.left-spacer{
    margin-left: 2%;
}

img{
    width: 350px;
    height: 400px;
    margin: 5px;
    padding: 5px;
    transition: all 1s;
    cursor: pointer;
    
}
img:hover{
    transform: scale(1.1);
}