
div{
    background-color: linear-gradient(to left, pink, yellow);
}

        h1{
        font: 'Raleway', sans-serif;
        color: rgba(100,0,20,0.5);
    }
    hr {
        height: 30px;
        border-style: dashed;
        border-color: rgba(100,0,10,0.8);
        border-width: 1px 0 0 0;
        border-radius: 10spx;
    }
    #default{
        font: 'Raleway', sans-serif;
        color: rgba(200,0,20,0.5);
    
    }